.todo-form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    max-width: 300px;
    margin: auto; 
}

.todo-form input,
.todo-form select {
    padding: 10px;
}

.todo-form button {
    padding: 10px 30px;
    background-color: #ff4b4b;
    color: white;
    border: none;
}


